body {
    background-color: #f7f7f7;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #206198;
    color: #FFF;
    font-size: 1.2em;
    border: 0;
}

.logo-cb {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand {
    float: left;
    min-height: 55px;
}

.container {
    margin-top: 10px;
}

.navbar-inverse .navbar-nav .active>a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
    color: #FFF;
    background-color: #206198;
}

.navbar-inverse .navbar-nav li a {
    color: #fff;
}

.logo-content {
    display: block;
    position: absolute;
    background-color: #003e76;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    left: 0px;
    right: 0px;
    width: 180px;
    box-shadow: 0px 0px 8px #0f3758;
    z-index: 3;
}

.carousel-caption {
    top: 50%;
    /*transform: translateY(-50%);*/
    /*text-transform: uppercase;*/
}

.carousel-caption .btn,
.navbar-header .btn,
#loadMore .btn {
    font-size: 18px;
    color: #fff;
    padding: 12px 22px;
    background: #206198;
    border: 2px solid #fff;
}

.proximos-eventos .btn,
.ultimos-eventos .btn {
    font-size: 18px;
    color: #fff;
    background: #206198;
    border: 2px solid #fff;
}

#loadMore {
    margin-bottom: 10px;
}

.proximos-eventos {
    /*background-color: #0f3758;*/
    padding-bottom: 70px;
    border: 14px solid #e4e4e4;
}

.ultimos-eventos {
    /*background-color: #0f3758;*/
    padding-bottom: 70px;
    border: 14px solid #e4e4e4;
}

.proximos-eventos img,
.ultimos-eventos img {
    max-width: 250px;
    margin-top: 15px;
}

.proximos-eventos h6 {
    color: #5A5A5A;
    /*padding: 0 15% 0;*/
}

.next-eventos {
    /*margin-top: 25px;*/
    background: #f1f1f1;
    margin: 25px 4% 0 4%;
}

.last-eventos {
    /*margin-top: 25px;*/
    background: #f1f1f1;
    margin: 25px 4% 0 4%;
}


.proximos-eventos h4,
.ultimos-eventos h4,
.proximos-eventos h3,
.ultimos-eventos h3 {
    color: #5A5A5A;
    padding: 0;
}

.proximos-eventos h3 {
    color: #fff;
    background-color: #e0960d;
    text-align: center;
    padding: 30px 0;
    text-transform: uppercase;
}

.ultimos-eventos h3 {
    color: #fff;
    background-color: #b14d4d;
    text-align: center;
    padding: 30px 0;
    text-transform: uppercase;
}

.ultimos-eventos h6 {
    color: #5A5A5A;
    /*padding: 0 15% 0;*/
}

.ver-proximos,
.ver-ultimas {
    margin-left: 70%;
}

#loadMore {
    color: #fff;
}

#loadMore .btn {
    margin-top: 15px;
}

.borda-entre-a a+a {
    border-top: 1px solid #d8d8d8;
}

footer {
    width: 100%;
    background-color: #0f3758;
    padding: 3%;
    color: #fff;
}

.footer-cb {
    width: 100%;
}

.logo-cb-footer-container {
    padding: 15px 0 0 0;
}

.copyright {
    padding: 20px 10px 0 0;
}

.fa {
    padding: 20px;
    font-size: 30px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #d5d5d5;
    text-decoration: none;
}

/*Modificado v*/

.card-contatos-nome {
    border-top: 1px solid #d8d8d8;
}

/*Modificado ^*/

@media (max-width:768px) {
    .carousel-caption {
        display: none;
    }
}

@media (min-width: 1500px) {
    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }
    .navbar-toggle {
        display: none !important;
    }
}

/*@media (max-width: 1500px){
    .navbar-collapse.collapse{
        display: none!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }
    .navbar-toggle{
        display: block !important;
    }
}*/